* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
svg {
    height: 80px;
    margin: 0 auto;
    display: block;;
    z-index: 2;
    transition: margin-top .5s;
}
ul, li {
    list-style-type: none;
}
/*hide burger*/
#x1, #close, #first, #second, #third {
    visibility: hidden;
}

/*burger animation*/
#logo {
    cursor: pointer;
}

/*navigation*/
.topnav {
    height: 0; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: #222; /* Black*/
    overflow: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the nav */
}
nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style-type: none;
}
/* The navigation menu links */
.topnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.topnav a:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the nav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .topnav {padding-top: 15px;}
    .topnav a {font-size: 18px;}
}
/* carousel content*/
.carousel {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
/*paticles.js*/

/*page home*/
div.home {
    background-color: lightcoral;
}
div.profile-img {
    background: url("../img/pic3.jpg") no-repeat center center;
    width: 50vw;
    height: 100vh;
    float: right;
}
div.intro {
    float: left;
    height: 100vh;
    width: 50vw;
}
.greetings {
    margin-top: 150px;
    color: whitesmoke;
    font: 1em sans-serif;
    padding: 0 20%;
    text-align: center;
}
.social {
    display: block;
    width: inherit;
    position: absolute;
    bottom: 50px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.social a {
    font-size: 3vh;
    margin: 1em;
}
/*page about*/
/*page portfolio*/
/*page contact*/

/* slick button */
.slick-prev, .slick-next {
    width: 80px;
    height: 80px;
    z-index: 2;
    position: fixed;
    background-color: transparent;
    border: none;
    color: white;
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    cursor: pointer;
}
.slick-prev {
    top: calc(50vh - 40px);
    left: 0;
}
.slick-next {
    top: calc(50vh - 40px);
    right: 0;
}
.slick-next:hover, .slick-prev:hover {
    font-size: 75px;
}
